form {
    border: 1px solid rgb(100, 0, 139);
    border-radius: 3px;
    padding: 30px;
    background-color: white;
}
#error {
    color: red;
}
h1 {
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(100, 0, 139);
    letter-spacing: 2px;
}

#results {
    line-height: 25px;
    
}

input {
    padding: 5px 10px;
    width: 100%;
    line-height: 16px;
    margin: 5px 0;
}
